* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #e2ebee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 420px;
    height: 640px;
    background-color: #fff;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 25%;
}

.main {
    position: relative;
    background: url(./images/img.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    padding-bottom: 80px;
    transition: padding-bottom 0.4s;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #033074, #ffc107);
    opacity: 0.4;
}

.main p {
    position: relative;
    color: #fff;
    font-size: 1.4em;
    letter-spacing: 1px;
}

p.name {
    font-size: 1,5em;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-bottom: 12px;
}

.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f8fa;
    color: #222;
    font-size: 1.2em;
    letter-spacing: 0.7px;
}

.more .social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    margin: 24px;
}

.social-links a {
    text-decoration: none;
    padding: 0;
    width: 60px;
    height: 60px;
    border: 3px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.info {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info section p {
    color: #708d9b;
    text-align: center;
    letter-spacing: 0.7px;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.info section p.value {
    color: #344e5a;
    font-weight: bold;
}

.info button {
    background-color: #ffc107;
    border: none;
    border-radius: 50%;
    outline: none;
    color: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.4);
    width: 80px;
    height: 80px;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: width 0.4s, height 0.4s;
}

.info button i.fa-minus {
    display: none;
}

/* Card Closed / Opened */

.more {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.card.opened .more {
    height: 300px;
}

.card.opened .main {
    padding-bottom: 40px;
    box-shadow: 0 0 30px #c0c6c8;
}

.card.opened .info {
    box-shadow: 0 0 25px #c9d1d4;
}

.card.opened i.fa-minus {
    display: block;
}
.card.opened i.fa-plus {
    display: none;
}

.card.opened .info button {
    width: 60px;
    height: 60px;
    font-size: 1.3em;
}

/* Social links colors */

a.facebook {
    color: #3b5999;
}

a.facebook-messenger {
    color: #830ec7;
}

a.github {
    color: #333;
}

a.instagram {
    color: #FCCC63;
}

a.twitter {
    color: #55acee;
}

a.googleplus {
    color: #dd4b39;
}
